@import url("https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css");

:root {
    --sn-stylekit-monospace-font: 'Victor Mono', monospace;
    --sn-stylekit-sans-serif-font: 'Victor Mono', sans-serif;
}

/* Plain Editor */
#note-text-editor {
    font-family: 'Victor Mono', monospace !important;
}

/* Bold Editor */
#editor {
    font-family: 'Victor Mono', monospace !important;
}

/* Markdown Minimalist, Markdown Pro (Edit) */
.CodeMirror {
    font-family: 'Victor Mono', monospace !important;
}

/* Markdown Pro (Preview) */
.editor-preview-side {
    font-family: 'Victor Mono', monospace !important;
}

/* Plus Editor */
.note-editable {
    font-family: 'Victor Mono', monospace !important;
}

/* Task Editor */
div.task > textarea {
    font-family: 'Victor Mono', monospace !important;
}
